algebra2src.exe
dtau.dat
metric.cpp
metric.h
single.exe
plot.dat
sphere.dat
sphere.exe
sphere2.dat
wrong.dat
spec.dat
globaldtau.dat
globalplot.dat
globalspec.dat
globalwrong.dat
gnuplot-globalplot.gplt
many.exe
