algebra2src.exe
dtau.dat
metric.cpp
metric.h
single.exe
plots
plot0.dat
plot1.dat
sphere.dat
sphere.exe
sphere2.dat
wrong.dat
spec.dat
globaldtau.dat
globalplot.dat
globalspec.dat
globalwrong.dat
calclen.dat
gnuplot-globalplot.gplt
many.exe
